[submodule "subrepo/riscv-tests"]
    path = subrepo/riscv-tests
    url = https://github.com/riscv-software-src/riscv-tests.git
[submodule "subrepo/riscv-arch-test"]
	path = subrepo/riscv-arch-test
	url = https://github.com/riscv-non-isa/riscv-arch-test.git
[submodule "subrepo/coremark"]
	path = subrepo/coremark
	url = https://github.com/eembc/coremark.git
[submodule "subrepo/imperas-riscv-tests"]
	path = subrepo/imperas-riscv-tests
	url = https://github.com/riscv-ovpsim/imperas-riscv-tests.git
